.logo{
    width: 300px;
    border-radius: 15px; 
    background-color: gray;

}
.a{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    display: inline-block;
    margin-top: 25px;
}
.b{
    width: 35px;
    display: inline-block;
    margin-left: 20px;
}
.c{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
}
.c:hover{
    text-decoration:underline;
    text-shadow: 5px 5px 20px black;
    cursor: pointer;
}
.d{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
}
.d:hover{
    text-decoration:underline;
    text-shadow: 5px 5px 20px black;
    cursor: pointer;
}
.e{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
}
.f{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;  
    margin-left: 900px;
    text-transform: uppercase;  
}
.f:hover{
    text-decoration:underline;
    text-shadow: 5px 5px 20px black;
    cursor: pointer;
}
.e:hover{
    text-decoration:underline;
    text-shadow: 5px 5px 20px black;
    cursor: pointer;
}
.href{
    color: black;
    text-decoration: none;
}
.line{
    border: none;
    border-style: solid;
    border-width: 1.7px;
    margin-top: 0px;
}
.g{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}.h{
    font-size: 25px;
    font-style: italic;
    margin-top: 170px;
    margin-left: 580px;
}


.k{
    border-radius: 15px;
    border-width: 3px;
    width: 150px;
    height: 45px;
    border-style: solid;
    background-color: transparent;
    margin-left: 350px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.k:hover{
    opacity: 0.8;
    box-shadow: 10px 10px 25px black;
}
.k:active{
    opacity: 0.5;
}
.l{
    color: black;
    text-decoration: none;
}
.m{
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 35px;
}
.nj{
    width: 250px;
    float: right;
    margin-right: 100px;
    margin-top: 0px;
}
.quote{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    color: darkred;
    margin-right: 30px;
    margin-top: 0;
}
.p{
    border-radius: 15px;
    border-width: 3px;
    width: 150px;
    height: 45px;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-left: 430px;
}
.p:hover{
    opacity: 0.8;
    box-shadow:10px 10px 25px black ;
}
.p:active{
    opacity: 0,5;
}
.box{
    font-size: 18px;
    font-weight: bold;
    margin-left: 60px;
    line-height: 50px;
    word-spacing: 10px;
    display: inline-block;
    margin-top: 40px;
}
.box1{
    font-size: 18px;
    font-weight: bold;
    margin-left: 60px;
    line-height: 100px;
    word-spacing: 10px;
    
}
.box2{
    font-size: 18px;
    font-weight: bold;
    margin-left: 60px;  
    line-height: 50px;
    word-spacing: 10px;
}


.dots{
    display: inline-block;
    font-size: 23px;
    line-height: 60px;
    margin-right: 60px;
    margin-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: right;
}
.o{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.m1{
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    margin-left: 25px;
    line-height: 70px;
}
.nj1{
    width: 300px;
    float: right;
    margin-right: 50px;
    border-radius: 30px;
}
.advise{
    font-size: 30px;
    display: inline;
    font-weight: bold;
    font-style: normal;
    margin-left: 280px;
    color: rgb(86, 4, 4);
}
.buy{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style: italic;
}